<h1 class="h1 text-center">Part</h1>
<div class="card">
  <div class="card-block text-center">
    <br/>
    <img [src]="this.partImages[0]" alt="" style="width:70%;"/>
    <br/>
    <br/>
    <span class="text-muted">
      Part Type <strong>{{this.part.partType}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Car <strong>{{this.part.car}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Price (ETH) <strong>{{this.part.price}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Days For Delivery <strong>{{this.part.daysForDelivery}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Description <strong>{{this.part.description}}</strong>
    </span>
    <br/>
    <br/>
  </div>
</div>
